@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.newsContainer{
    background-color: #F8F9FA;
    padding: 20px;
    border-radius: 5px;
}
.authorImg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.newsInfo{
    padding-top: 15px;
    display: flex;
   
    justify-content: space-between;
}
#navbar_nav li:hover a{
 color: #7532FA;
}